<form role="form" [formGroup]="contactForm">
  <div class="col-sm-12 col-xs-12">
    <div class="form-group row">
      <div class="col-sm-3">
        <label>Current Address</label>
        <textarea class="form-control" style="min-height:97px" autosize rows=4 placeholder="Address" [attr.disabled]="view ? '': null"
          formControlName="Emp_Add1"></textarea>
      </div>
      <div class="col-sm-3">
        <label>Country</label>
        <select class="form-control" (change)="handleToggle('country', $event)" [attr.disabled]="view ? '': null" formControlName="Emp_Country">
          <option *ngFor="let country of countries" [selected]="country.id === Emp_Country" [value]="country.id">{{country.name}}</option>
        </select>
      </div>
      <div class="col-sm-3">
        <label>State</label>
        <select class="form-control" (change)="handleToggle('states', $event)" [attr.disabled]="view ? '': null" formControlName="Emp_State">
          <option *ngFor="let state of states" [selected]="state.id === Emp_State" [value]="state.id">{{state.name}}</option>
        </select>
      </div>
      <div class="col-sm-3">
        <label>City</label>
        <select class="form-control" [attr.disabled]="view ? '': null" formControlName="Emp_City">
          <option *ngFor="let city of cities" [selected]="city.id === Emp_City" [value]="city.id">{{city.name}}</option>
        </select>
      </div>
      <div class="col-sm-3">
        <label>Pincode</label>
        <input type="text" pattern="\d*" maxlength="6" class="form-control" placeholder="Pincode" [attr.disabled]="view ? '': null"
          formControlName="Emp_Pincode">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-3">
        <label style="display:block;">Landline Number</label>
        <input type="text" pattern="\d*" maxlength="5" class="form-control" style="width:35%; display: inline-block" placeholder="Code"
          [attr.disabled]="view ? '': null" formControlName="Emp_CCode">
        <input type="text" pattern="\d*" maxlength="10" class="form-control" style="width:calc(65% - 4px);display:inline-block;"
          placeholder="Phone Number" [attr.disabled]="view ? '': null" formControlName="Emp_Phone">
      </div>
      <div class="col-sm-3">
        <label style="display:block;">Mobile Number</label>
        <input type="text" pattern="\d*" maxlength="6" class="form-control" style="width:35%; display: inline-block" placeholder="Code"
          readonly="" [attr.disabled]="view ? '': null" formControlName="Emp_MCode">
        <input type="text" pattern="\d*" maxlength="10" class="form-control" style="width:calc(65% - 4px);display:inline-block;"
          placeholder="Mobile Number" [attr.disabled]="view ? '': null" formControlName="Emp_Mobile">
      </div>
      <div class="col-sm-3">
        <label style="display:block;">Alternate Number</label>
        <input type="text" pattern="\d*" maxlength="6" class="form-control" style="width:35%; display: inline-block" placeholder="Code"
          readonly="" [attr.disabled]="view ? '': null" formControlName="Emp_AMCode">
        <input type="text" pattern="\d*" maxlength="10" class="form-control" style="width:calc(65% - 4px);display:inline-block;"
          placeholder="Mobile Number" [attr.disabled]="view ? '': null" formControlName="Emp_AMobile">
      </div>
    </div>
    <br />
    <div class="form-group row">
      <div class="col-sm-12">
        <input type="checkbox" style="vertical-align:top;" [attr.disabled]="view ? '': null" (change)="onCopyFields($event)" value=""> Same As Above </div>
    </div>
    <br />
    <div class="form-group row">
      <div class="col-sm-3">
        <label>Permanent Address</label>
        <textarea class="form-control" style="min-height:97px" autosize rows="4" placeholder="Address" [attr.disabled]="view ? '': null"
          formControlName="Emp_Add2"></textarea>
      </div>
      <div class="col-sm-3">
        <label>Country</label>
        <select class="form-control" [attr.disabled]="view ? '': null" formControlName="Emp_Country2" (change)="handleToggle('country', $event)">
          <option *ngFor="let country of countries" [selected]="country.id === Emp_Country2" [value]="country.id">{{country.name}}</option>
        </select>
      </div>
      <div class="col-sm-3">
        <label>State</label>
        <select class="form-control" [attr.disabled]="view ? '': null" formControlName="Emp_State2">
          <option *ngFor="let state of states" [selected]="state.id === Emp_State2" [value]="state.id">{{state.name}}</option>
        </select>
      </div>
      <div class="col-sm-3">
        <label>City</label>
        <select class="form-control" [attr.disabled]="view ? '': null" formControlName="Emp_City2">
          <option *ngFor="let city of cities" [selected]="city.id === Emp_City2" [value]="city.id">{{city.name}}</option>
        </select>
      </div>
      <div class="col-sm-3">
        <label>Pincode</label>
        <input type="text" pattern="\d*" maxlength="6" class="form-control" placeholder="Pincode" [attr.disabled]="view ? '': null"
          formControlName="Emp_Pincode2">
      </div>
    </div>
    <button type="submit" (click)="handleTabs('family')" *ngIf="!view" [disabled]="contactForm.status !== 'VALID'" class="btn btn-success">Next</button>
    <input type="button" (click)="handleTabs('personal', 'VALID')" *ngIf="!view" value="back" class="btn btn-danger" />
  </div>
</form>