<div class="col-sm-12">
    <div class="tabs-container">
        <ul class="nav nav-tabs">
            <li [class.active]="tabs.personal === true">
                <a data-toggle="tab" href="" (click)="handleTabs($event, { name: 'personal'})"> Personal Details</a>
            </li>
            <li [class.active]="tabs.contact === true">
                <a data-toggle="tab" href="" (click)="handleTabs($event, { name: 'contact' })">Contact Details</a>
            </li>
        </ul>
        <div class="tab-content" *ngIf="store$ | async; let store;">
            <div id="tab-1" class="tab-pane" [class.active]="tabs.personal === true">
                <div class="panel-body">
                    <personal-details [store]="store[0]" [owners]="store[1]" [companies]="store[2]" [view]="viewmode" (tabs)="handleTabs(null, $event)"></personal-details>
                </div>
            </div>
            <div id="tab-2" class="tab-pane" [class.active]="tabs.contact === true">
                <div class="panel-body">
                    <contact-details [countries]="store[3]" [cities]="cities$ | async" [states]="states$ | async" (tabs)="handleTabs(null, $event)"
                        (toggle)="handleToggle($event)"></contact-details>
                </div>
            </div>
            <br />
        </div>
    </div>
</div>