<form role="form" [formGroup]="contactForm">
    <div class="col-sm-12 col-xs-12">
        <div class="form-group row">
            <div class="col-sm-3">
                <label>Current Address</label>
                <textarea class="form-control" style="min-height:97px" autosize rows=4 placeholder="Address" [attr.disabled]="view ? '': null"
                    formControlName="Con_Address"></textarea>
            </div>
            <div class="col-sm-3">
                <label>Email Address</label>
                <input type="email" class="form-control" placeholder="Email Address" [attr.disabled]="view ? '': null" formControlName="Con_Email1">
            </div>
            <div class="col-sm-3">
                <label>Alternate Email Address</label>
                <input type="email" class="form-control" placeholder="Email Address" [attr.disabled]="view ? '': null" formControlName="Con_Email2">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-3">
                <label>Country</label>
                <select class="form-control" (change)="handleToggle('country', $event)" [attr.disabled]="view ? '': null" formControlName="Con_Country">
                    <option *ngFor="let country of countries" [selected]="country.id === Con_Country" [value]="country.id">{{country.name}}</option>
                </select>
            </div>
            <div class="col-sm-3">
                <label>State</label>
                <select class="form-control" (change)="handleToggle('states', $event)" [attr.disabled]="view ? '': null" formControlName="Con_State">
                    <option *ngFor="let state of states" [selected]="state.id === Con_State" [value]="state.id">{{state.name}}</option>
                </select>
            </div>
            <div class="col-sm-3">
                <label>City</label>
                <select class="form-control" [attr.disabled]="view ? '': null" formControlName="Con_City">
                    <option *ngFor="let city of cities" [selected]="city.id === Con_City" [value]="city.id">{{city.name}}</option>
                </select>
            </div>
            <div class="col-sm-3">
                <label>Pincode</label>
                <input type="number" class="form-control" placeholder="Pincode" [attr.disabled]="view ? '': null" formControlName="Con_Pincode">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-3">
                <label style="display:block;">Landline Number</label>
                <input type="text" class="form-control" style="width:35%; display: inline-block" placeholder="Code" [attr.disabled]="view ? '': null"
                    formControlName="Con_CCode">
                <input type="number" class="form-control" style="width:calc(65% - 4px);display:inline-block;" placeholder="Phone Number"
                    [attr.disabled]="view ? '': null" formControlName="Con_Phone">
            </div>
            <div class="col-sm-3">
                <label style="display:block;">Mobile Number</label>
                <input type="text" class="form-control" style="width:35%; display: inline-block" placeholder="Code" readonly="" [attr.disabled]="view ? '': null"
                    formControlName="Con_MCode">
                <input type="number" class="form-control" style="width:calc(65% - 4px);display:inline-block;" placeholder="Mobile Number"
                    [attr.disabled]="view ? '': null" formControlName="Con_Mobile">
            </div>
            <div class="col-sm-3">
                <label style="display:block;">Alternate Number</label>
                <input type="text" class="form-control" style="width:35%; display: inline-block" placeholder="Code" readonly="" [attr.disabled]="view ? '': null"
                    formControlName="Con_AMCode">
                <input type="number" class="form-control" style="width:calc(65% - 4px);display:inline-block;" placeholder="Mobile Number"
                    [attr.disabled]="view ? '': null" formControlName="Con_AMobile">
            </div>
        </div>

        <br />
        <button type="submit" (click)="handleSubmit('final')" *ngIf="!view" [disabled]="contactForm.status !=='VALID'" class="btn btn-success">Submit</button>
    </div>
</form>