.toastr-snackbar {
	position: fixed;
	bottom: 0;
	left: 50%;
	cursor: default;
	background-color: #333333;
	z-index: 3;
	display: block;
	display: flex;
	justify-content: space-between;
	will-change: transform;
	transform: translate(0, 80px);
	transition: transform 0.25s cubic-bezier(0.4, 0, 1, 1);
	pointer-events: none;
	@media (max-width: 480px - 1) {
		width: 100%;
		left: 0;
		min-height: 48px;
		max-height: 80px;
	}
	@media (min-width: 480px) {
		min-width: 288px;
		max-width: 568px;
		border-radius: 2px;
		transform: translate(-50%, 80px);
	}
	&--active {
		transform: translate(0, 0);
		pointer-events: auto;
		transition: transform 0.25s cubic-bezier(0, 0, 0.2, 1);

		@media (min-width: 480px) {
			transform: translate(-50%, 0);
		}
	}

	&__text {
		padding: 14px 12px 14px 24px;
		vertical-align: middle;
		color: white;
		float: left;
	}

	&__action {
		background: transparent;
		border: none;
		color: orange;
		float: right;
		text-transform: uppercase;
		padding: 14px 24px 14px 12px;

		overflow: hidden;
		outline: none;
		opacity: 0;
		pointer-events: none;
		cursor: pointer;
		text-decoration: none;
		text-align: center;
		align-self: center;

		&::-moz-focus-inner {
			border: 0;
		}
		&:not([aria-hidden]) {
			opacity: 1;
			pointer-events: auto;
		}
	}
}
